.card-list {
  display: grid;
  gap: 8px;
}
.sorting-wrapper {
  position: relative;
  top: -43%;
  box-sizing: border-box;
  box-shadow: 0 2px 8px 0 rgba(26, 26, 26, 0.16);
  border-radius: 4px;
  padding: 10px;
  display: grid;
  gap: 16px;
}
.wrapper-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.wrapper-content {
  display: grid;
  gap: 12px;
}

@media screen and (max-width: 992px) {
  .sorting-wrapper {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
  }
}
