.search-results {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.filter-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px;
}
.filter-box {
  width: 25%;
}
.card-list {
  display: grid;
  gap: 8px;
}
/* card */
.card {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 16px;
  gap: 16px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(26, 26, 26, 0.16);
  overflow: hidden;
  max-height: 200px;
  min-width: 875px;
  width: 100%;
}
.image {
  width: 200px;
  height: 200px;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 16px 16px 0;
}
.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  color: #006ce4;
}
.location {
  font-weight: 600;
  color: #006ce4;
  font-size: 12px;
  font-style: italic;
  text-decoration: underline;
}
.content-right {
  display: grid;
  padding: 0 16px;
}
.rating-wrapper,
.price-wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 50px;
}
.rating {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: white;
  background-color: #003b95;
  padding: 16px;
  border-radius: 4px;
}
.price {
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 992px) {
  .search-results {
    grid-template-columns: 100%;
    padding: 0 40px;
  }
  .hotel,
  .flight {
    left: 0;
  }
  /* card */
  .card {
    min-width: 0;
  }
}
@media screen and (max-width: 767px) {
  .search-results {
    padding: 0;
  }
  .filter-box {
    width: -webkit-fill-available;
  }
  /* card */
  .card {
    min-width: 540px;
  }
  .title {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 540px) {
  /* card */
  .card {
    min-width: 0;
    gap: 8px;
  }
  .content {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  .title {
    font-size: 14px;
    line-height: 18px;
    text-wrap: wrap;
  }
  .content-right {
    padding: 0;
    gap: 24px;
  }
  .rating-wrapper, .price-wrapper {
    justify-content: start;
    height: 0;
  }
  .rating {
    font-size: 12px;
    line-height: 18px;
    padding: 4px;
  }
  .price {
    font-size: 16px;
  }
  .button {
    padding: 4px 8px;
    height: 25px;
    font-size: 12px;
    line-height: 15px;
  }
}