.search-results {
  position: relative;
  /* top: 100px; */
  display: grid;
  /* grid-template-columns: auto auto; */
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* .hotel {
  left: -45px;
} */
.flight {
  left: 0;
}
.filter-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px;
}
.filter-box {
  width: 25%;
}
@media screen and (max-width: 992px) {
  .search-results {
    /* top: 225px; */
    grid-template-columns: auto;
    padding: 0 40px;
  }
  .hotel,
  .flight {
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  .search-results {
    /* top: 335px; */
    padding: 0;
  }
}
