/* .search-form {
  display: grid;
  grid-template-columns: auto;
  gap: 4px;
  padding: 4px;
  margin: 24px 16px;
  background-color: #ffb700;
  border: 1px solid #ffb700;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(26, 26, 26, 0.16);
  width: 950px;
} */
/* .search-submit {
  margin: 0 !important;
} */

@media screen and (max-width: 767px) {
  .mode {
    padding: 0 0 10px;
  }
}
