.feature {
  display: grid;
  gap: 10px;
}
.sorting {
  display: grid;
  gap: 4px;
}
.title {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  font-style: italic;
}

@media screen and (max-width: 991px) {
  .sorting {
    grid-template-columns: auto auto auto;
  }
}
