.search {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 4px;
}
.search > div {
  margin-bottom: 2px;
}
.icon {
  opacity: 0.3;
}
@media screen and (max-width: 991px) {
  .search-form {
    width: auto;
  }
  .search {
    grid-template-columns: 100%;
  }
}
@media screen and (max-width: 767px) {
  .search {
    margin: 0;
  }
}
@media screen and (max-width: 599px) {
  .calendar > div > div > div > div > div {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 360px) {
  .search-form {
    margin: 24px auto;
  }
}